# config/compose.yml.tmpl
volumes:
  # El nombre del volumen ya no incluye el puerto
  code-server-data-{{.ProjectName}}:

services:
  code-server:
    image: dev-env/{{.Language}}:latest
    build:
      context: ..
      dockerfile: .dev-env/Dockerfile
      args:
        BUILD_USER: {{.Username}}
        USER_ID: ${UID:-1000}
        GROUP_ID: ${GID:-1000}
        DOCKER_GID: ${DOCKER_GID:-999}
    
    # El nombre del contenedor ya no incluye el puerto
    container_name: dev_env_{{.ProjectName}}
    
    environment:
      - PASSWORD=${DEV_PASSWORD?Debes definir DEV_PASSWORD en el archivo .env}
      
    ports:
      # Puerto fijo 3000
      - "3000:3000"
      
    volumes:
      - ..:/home/{{.Username}}/project
      # Volumen nombrado sin el puerto
      - code-server-data-{{.ProjectName}}:/home/{{.Username}}/.local/share/code-server
      - /var/run/docker.sock:/var/run/docker.sock